.theList li {
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: inline-flex;
    width: 200px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;


}

ul.theList{
    padding: 0;
}

.deleteButton{
    font-size: 10px;
    margin: 5px;
    color: red;
    cursor: pointer;
}